﻿@model CMSys_project.ViewModels.TrainerGroupVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Add Trainer group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main{
    <form asp-action="Create" asp-controller="AdminTrainerGroup">
        <div class="form-group">
            <label asp-for="Name" class="control-label">Name</label>
            <input type="text" asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-success"/>
        </div>
    </form>
}

@section validation {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}