﻿@using CMSys_project.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Trainers";
    if(User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if(User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}
@section Main{
    <h2>Trainers</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Group</th>
                <th>Photo</th>
                <th>Name</th>
                <th>About</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TrainerVM item in Model)
        {
            <tr>
                <td>@item.Group.Name</td>
                <td> @{
                         if (item.User.Photo.Length == 0)
                         {
                             <text>No photo</text>
                         }
                         else
                         {
                             <img style="display: inline-block; width: 190px; height: 256px"
                                  src="data:image;base64,@Convert.ToBase64String(item.User.Photo)" alt="User image" />
                         }
                     }</td>
                <td>@item.User.FullName</td>
                <td>@item.About</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Profile" asp-controller="UserTrainer" asp-route-id="@item.UserId">Info</a>

                </td>
            </tr>
        }
        </tbody>
    </table>
}