﻿@model CMSys_project.ViewModels.TrainerVM;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Trainer info";
    if(User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if(User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}

@section Main{
    <h2>Trainer info</h2>
    <div class="form-group">
    </div>
    <thead>
    </thead>
    <body>
        <h2> @{
                 if (Model.User.Photo.Length == 0)
                 {
                     <text>No photo</text>
                 }
                 else
                 {
                     <img style="display: inline-block; width: 190px; height: 256px"
                          src="data:image;base64,@Convert.ToBase64String(Model.User.Photo)" alt="User image" />
                 }
             } @Model.User.FullName</h2>
        <br />


        <h5>Description</h5>
        <p>
            @Model.About
        </p>
        <a class="btn btn-info" asp-action="Info" asp-controller="UserTrainer">Back</a>
    </body>

}a