﻿@using CMSys_project.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Course Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main{
    <h2>Course groups</h2>
    <div class="form-group">
        <a class="btn btn-sm btn-primary" asp-action="Create">Add group</a>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        @foreach (CourseGroupVM item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Edit" asp-controller="AdminCourseGroup" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="AdminCourseGroup" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}