﻿@model CMSys_project.ViewModels.LoginVM

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@section Main{
    <body class="text-center">

    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="validation" asp-validation-summary="ModelOnly"/>
        <div>
            <div class="form-group">
                <label asp-for="Email" class="sr-only">Enter Email</label>
                <input type="email" asp-for="Email" autofocus/>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"  class="sr-only">Enter password</label>
                <input asp-for="Password"   type="password"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enter" class="btn"/>
            </div>
        </div>
    </form>
    </body>
}
<environment names="Development,Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script>
</environment>
@section validation {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}