﻿@using CMSys_project.ViewModels
@model CMSys_project.ViewModels.CourseVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit trainers";
}

@section Main{
    <h2>@Model.Name</h2>
    <hr/>

    <table class="table table-bordered">
        <tr>
            <td>Profile</td>
            <td>Action</td>
        </tr>
        @{
            foreach (TrainerVM trainer in Model.Trainers)
            {
                <tr>
                    <td>
                        @trainer.User.FullName
                    </td>
                    <td>
                        <a asp-controller="AdminCourse" asp-action="DeleteTrainer"
                           asp-route-courseId="@Model.Id" asp-route-trainerId="@trainer.UserId">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        }
    </table>
    <br/>

    <form asp-controller="AdminCourse" asp-action="AddTrainer" asp-route-courseId="@Model.Id" method="post">
        <div class="form-group">
            <label>Select trainer:</label>
            <select class="form-control" asp-for="SelectedTrainer" asp-items="@Model.AllTheTrainers"></select>
        </div>

        <input class="btn btn-primary" type="submit" value="Add"/>
    </form>

    <br/>
    <a class="btn btn-info" asp-controller="AdminCourse" asp-action="Info" asp-route-id="@Model.Id">Back</a>
}

@section validation {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}