﻿@using CMSys_project.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Courses";
}

@section Main{
    <h2>Courses</h2>
    <div class="form-group">
        <a class="btn btn-sm btn-primary" asp-action="Create">Add course</a>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Course Group</th>
            <th>Type</th>
            <th>Schedule</th>
            <th>Status</th>
            <th>Trainers</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (CourseVM item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.CourseGroup.Name</td>
                <td>@item.Type</td>
                <td>@item.Schedule</td>
                <td>
                    @{
                        if (item.Status)
                        {
                            <text>New</text>
                        }
                    }
                </td>

                <td>
                    @foreach (TrainerVM trainer in item.Trainers)
                    {
                        <li>
                            @trainer.User.FullName
                        </li>
                    }
                </td>

                <td>
                    <a class="btn btn-sm btn-info" asp-action="Edit" asp-controller="AdminCourse" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="AdminCourse" asp-route-id="@item.Id">Delete</a>
                    <a class="btn btn-sm btn-warning" asp-action="EditTrainer" asp-controller="AdminCourse" asp-route-id="@item.Id">EditTrainers</a>
                    <a class="btn btn-sm btn-info" asp-action="Profile" asp-controller="AdminCourse" asp-route-id="@item.Id">Info</a>
                </td>
            </tr>
            <td colspan="7">
                @item.Description
            </td>
        }
        </tbody>
    </table>
}