﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="~/_MainStylesheet.css"/>
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!--menu-->
<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab">
                <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                <a class="nav-link" href="~/User/Course/Info">Courses</a>
                <a class="nav-link" href="~/User/Trainer/Info">Trainers</a>

                <div class="dropdown show">
                    <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                        Admin
                    </a>

                    <div class="dropdown-menu">
                        <a class="nav-link" href="~/Admin/Course/Info">Courses</a>
                        <a class="nav-link" href="~/Admin/TrainerGroup/Info">Trainer groups</a>
                        <a class="nav-link" href="~/Admin/CourseGroup/Info">Course groups</a>
                        <a class="nav-link" href="~/Admin/Trainer/Info">Trainers</a>
                        <a class="nav-link" href="~/Admin/User/Info">Users</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                @RenderSection("Main", required: false)
            </div>
        </div>
    </div>
</div>


</body>
<environment names="Development,Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
</environment>

@RenderSection("validation", required: false)
</html>