﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CMSys_project.ViewModels
@{
    ViewBag.Title = "Courses";
    if(User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if(User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}

@section Main{
    <h2>Courses</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Course Group</th>
                <th>Type</th>
                <th>Schedule</th>
                <th>Status</th>
                <th>Trainers</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CourseVM item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.CourseGroup.Name</td>
                    <td>@item.Type</td>
                    <td>@item.Schedule</td>
                    <td>
                        @{
                            if (item.Status)
                            {
                                <text>New</text>
                            }
                        }
                    </td>

                    <td>
                        @foreach (TrainerVM trainer in item.Trainers)
                        {
                            <li>
                                @trainer.User.FullName
                            </li>
                        }
                    </td>

                    <td>
                        <a class="btn btn-sm btn-info" asp-action="Profile" asp-controller="UserCourse" asp-route-id="@item.Id">Info</a>
                    </td>
                </tr>
            <td colspan="7">
                @item.Description
            </td>
        }
            </tbody>
        </table>
}