﻿@using CMSys_project.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CMSys_project.ViewModels.CourseVM;
@{
    ViewBag.Title = "Courses";
    if(User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if(User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}

@section Main{
    <h2>Courses</h2>
    <div class="form-group">
    </div>
    <thead>
    </thead>
    <body>
        <h2>@Model.Name</h2>
        <br />
        <h4>Trainers</h4>
        @foreach (TrainerVM trainer in Model.Trainers)
        {
            <li>
                @trainer.User.FullName
            </li>
        }
        <br />

        <h6>Type: @Model.Type</h6>
        <h6>Arrangement: @Model.Schedule</h6>
        <br />

        <h5>Description</h5>
        <p>
            @Model.Description
        </p>
        <a class="btn btn-info" asp-action="Info" asp-controller="UserCourse">Back</a>
    </body>

}