﻿@model CMSys_project.ViewModels.UserVM

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Course";
}
@section Main{
    <form asp-action="Edit" asp-controller="AdminUser" asp-route-id="@Model.Id" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="WorkEnd" class="control-label">Date of work end</label>
            <input type="date" asp-for="WorkEnd" class="form-control" />
            <span asp-validation-for="WorkEnd"></span>
        </div>
        @*//hidden value true*@
        <div class="form-group">
            @for (int i = 0; i < Model.RoleVm.Count; i++)
            {
                <input asp-for="@Model.RoleVm[i].Selected" disabled="@Model.RoleVm[i].Name.Equals("User")" type="checkbox"/>
                <input asp-for="@Model.RoleVm[i].Name" type="hidden"/>
                <input asp-for="@Model.RoleVm[i].RoleId" type="hidden"/>
                <label asp-for="@Model.RoleVm[i].Name" checked="checked">@Model.RoleVm[i].Name</label>
            }
        </div>
        <div class="form-group">
            <label asp-for="Photo"></label>
            <br />

            @{
                if (Model.Photo.Length == 0)
                {
                    <text>No photo</text>
                }
                else
                {
                    <img style="display: inline-block; width: 190px; height: 256px"
                         src="data:image;base64,@Convert.ToBase64String(Model.Photo)" alt="User image" />
                }
            }
            <input class="form-control" type="file" asp-for="Photo" />
        </div>
        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-outline-primary" />
        </div>
    </form>
}
@section validation {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}