﻿@using CMSys_project.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Course";
}

@section Main{
    <h2>Users</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Photo</th>
            <th>Department</th>
            <th>Position</th>
            <th>Location</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (UserVM item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>
                    @{
                        if (item.Photo.Length == 0)
                        {
                            <text>No photo</text>
                        }
                        else
                        {
                            <img style="display: inline-block; height: 128px; width: 95px;"
                                 src="data:image;base64,@Convert.ToBase64String(item.Photo)" alt="User image"/>
                        }
                    }
                </td>
                <td>@item.Department</td>
                <td>@item.Position</td>
                <td>@item.Office</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Edit" asp-controller="AdminUser" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}