﻿@model CMSys_project.ViewModels.TrainerVM

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Add Trainer group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main{
    <form asp-action="Create" asp-controller="AdminTrainer">


        <div class="form-group">
            <label>User</label>
            <select class="form-control" asp-for="UserId" asp-items="@Model.NonTrainers"></select>
        </div>
        <div class="form-group">
            <label>Trainer group</label>
            <select class="form-control" asp-for="GroupId" asp-items="@Model.Groups"></select>
        </div>
        <div class="form-group">
            <label>About trainer</label>
            <div class="form-group">
                <input type="text" asp-for="About" class="form-control"/>
                <span asp-validation-for="About"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-success"/>
        </div>
    </form>
}

@section validation {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}