﻿@model CMSys_project.ViewModels.TrainerVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Add Trainer group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Main
{
    <div>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>
                @Html.DisplayFor(model => model.User.FullName)
            </dd>

        </dl>

        <div>
            <div class="alert alert-warning" role="alert">
                Delete this trainer?
            </div>
            <div>
                <form style="display: inline-block" asp-controller="AdminTrainer" asp-action="Delete" method="post">
                    <button type="submit" class="btn btn-primary">Yes</button>
                </form>
                <form style="display: inline-block" asp-controller="AdminTrainer" asp-action="Info" method="post">
                    <button type="submit" class="btn btn-primary">No</button>
                </form>
            </div>
        </div>
    </div>
}